* {
  margin: 0;

  font-family: sans-serif;
}

header {
  display: flex; /* Para mostrarse horizontalmente*/
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: black;
}


li {
  list-style-type: none;

}
a:hover{
  text-decoration: none;
  color:white;
}
a {
  font-size: 20px;
  text-decoration: none;
  margin:5px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff,
    0 0 82px #fff, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #fff;
}
.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff,
    0 0 82px #fff, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #fff;
}
.card-content {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  float:left;
}

.card {
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: auto;
}
.card img{
  width: 170px;
}
.card-content {
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: calc(50% - 20px);
    width: 120px;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    width: calc(100% - 20px);
  }
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}
.card{
  display: flex;
  float:left;
  width: 200px;
  height: 320px;
  
  
}
#usuarios{
  margin: 10px;
  display:wrap;
  padding: 40px;
}
